/Data
/Detection
/imagenes_carros
/Car_Accident
/Carros
*.zip
requirements.txt
/__pycache__
*.yaml
/detectron2
/runs
*.pt
*.csv
*.jpeg
*.jpg
*.png
*.avi
*.mp4
*.html
/car_brand
scraping.py
web_scraping.ipynb